<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center justify-content-between">
                <h5>Uttarakhand Tours</h5>

                <a [routerLink]="['/main/components/UK-TOURS/add-uk-tours']" pButton pRipple type="button"
                    class="mb-2 text-white" label="Add Tour" icon="pi pi-plus"></a>
            </div>
            <p-table #dt1 [value]="ukToursData$ | async" dataKey="id" [rows]="5" [loading]="loading" [rowHover]="true"
                styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['toursTitle','isVisible']"
                responsiveLayout="scroll" [scrollable]="true" scrollHeight="490px">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                            (click)="clear(dt1)"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter
                                (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword"
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem" pSortableColumn="toursTitle">
                            <div class="flex justify-content-between align-items-center">
                                Title
                                <span class="flex">
                                    <p-sortIcon field="toursTitle" class="mr-2 mt-1"></p-sortIcon>
                                    <p-columnFilter type="text" field="toursTitle" display="menu"
                                        placeholder="Search by Title"></p-columnFilter>
                                </span>
                            </div>
                        </th>
                        <th style="min-width: 15rem" pSortableColumn="toursDescription">
                            <div class="flex justify-content-between align-items-center">
                                Description
                                <p-sortIcon field="toursDescription" class="mr-2 mt-1"></p-sortIcon>
                            </div>
                        </th>
                        <th style="min-width: 8rem" pSortableColumn="timeInDays">
                            <div class="flex justify-content-between align-items-center">
                                Days
                                <p-sortIcon field="timeInDays" class="mr-2 mt-1"></p-sortIcon>
                            </div>
                        </th>
                        <th style="min-width: 8rem" pSortableColumn="timeInNight">
                            <div class="flex justify-content-between align-items-center">
                                Nights
                                <p-sortIcon field="timeInNight" class="mr-2 mt-1"></p-sortIcon>
                            </div>
                        </th>
                        <th style="min-width: 8rem" pSortableColumn="tourPrice">
                            <div class="flex justify-content-between align-items-center">
                                Price
                                <p-columnFilter type="numeric" field="tourPrice" display="menu"
                                    currency="INR"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem" pSortableColumn="featuredImageUrl">
                            <div class="flex justify-content-between align-items-center">
                                Image
                                <p-sortIcon field="featuredImageUrl" class="mr-2 mt-1"></p-sortIcon>
                            </div>
                        </th>
                        <th style="min-width: 6rem" pSortableColumn="isVisible">
                            <div class="flex justify-content-between align-items-center">
                                Status
                                <span class="flex">
                                    <p-sortIcon field="isVisible" class="mr-2 mt-1"></p-sortIcon>
                                    <p-columnFilter field="isVisible" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="statuses"
                                                (onChange)="filter($event.value)" placeholder="Any"
                                                [style]="{'min-width': '12rem'}">
                                                <ng-template let-option pTemplate="item">
                                                    <span
                                                        [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </span>
                            </div>
                        </th>
                        <th style="min-width: 8rem;">
                            <div class="flex justify-content-center align-items-center">
                                Action
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>
                            {{customer.toursTitle}}
                        </td>
                        <td>
                            <span class="image-text ml-2">{{customer.toursDescription}}</span>
                        </td>
                        <td>
                            <span class="image-text ml-2">{{customer.timeInDays}}</span>
                        </td>
                        <td>
                            <span class="image-text ml-2">{{customer.timeInNight}}</span>
                        </td>
                        <td>
                            <span class="image-text ml-2">{{customer.tourPrice}}</span>
                        </td>
                        <td>
                            <img pTooltip="{{customer.featuredImageUrl}}" tooltipPosition="top"
                                [alt]="customer.featuredImageUrl" src="{{customer.featuredImageUrl}}" width="64"
                                style="vertical-align: middle" />
                        </td>
                        <td>
                            <span [class]="'customer-badge status-' + customer.isVisible">{{customer.isVisible}}</span>
                        </td>
                        <td class="action-link">
                            <span><i class="pi pi-pencil" style="font-size: 1.5rem"
                                    [routerLink]="['/main/components/UK-TOURS', customer.id]"></i></span>
                            <span class="ml-2">
                                <i class="pi pi-trash" style="font-size: 1.5rem; color: red;"
                                    (click)="deleteTourById(customer.id)"></i></span>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No tours found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading tours data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>

<p-confirmDialog header="Confirmation" key="confirm1" icon="pi pi-exclamation-triangle"
    message="Are you sure you want to proceed?" [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text" (click)="deleteTourById($event)"></p-confirmDialog>
<p-toast></p-toast>

<app-loader [showLoader]="showLoader"></app-loader>