.action-link {
    text-align: center;
    cursor: pointer;
}

.customer-badge.status-false {
    background: #FFCDD2;
    color: #C63737;
}

.customer-badge.status-true {
    background: #C8E6C9;
    color: #256029;
}