.loader-widget {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background: aliceblue;
    z-index: 9999;
}

.loader-spinner-widget {
    position: absolute;
    left: 50%;
    top: 50%;
}